<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">acceuil</div>
  <div class="page__content shadow p-3 position-relative">
      <div class="cards">
        <div class ="row">
        <div class="col-lg-4 col-md-3 col-sm-3">
            <div class="card card-stats">
                <div class="card-header card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <div class="card-category" style ="width:60%">
                      <h6>Les Utilisateurs</h6>
                    </div>
                    <h6 class="card_title">nombre des Utilisateurs ghadi</h6>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-3">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">groupes existant</i>
                    </div>
                    <div class="card-category" style ="width:60%">
                      <h6>nbr des groupes</h6>
                    </div>
                    <h6 class="card-title">6</h6>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-3">
            <div class="card card-stats">
                <div class="card-header card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <div class="card-category" style="width:70%">
                      <h6>Fixed Issues</h6>
                    </div>
                    <h6 class="card-title">75</h6>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>
